{% extends "Admin/admin-base.html" %} {% block title %} {{user}} Welcome! -
Admin Panel {% endblock%} {%block content%}

<div class="row">
  <div class="col-6 ps-0">
    <!-- count starts -->
    <div class="card shadow ms-0 rounded-0" style="width: 20rem">
      <div class="card-body">
        <div class="lead">About last updated:</div>
        <h2 class="card-title">{{ about.date_created }}</h2>
      </div>
    </div>
    <!-- count ends -->
  </div>
  <div class="col-6 pe-0"></div>
</div>

{% endblock %}
