{% extends "base.html" %} {% block title %}Timeline - Galip Argun{% endblock %}
{% block content %}
<div class="baslik-customize py-3 mt-5">
  <span class="rounded-pill bg-dark text-light baslik-customize p-3 fw-bolder"
    >Timeline</span
  >
</div>
<!-- 2022 starts -->
<div class="hr-theme-slash-2 mt-3">
  <div class="hr-text">2022</div>
  <div class="hr-line"></div>
</div>
<ul class="timeline mt-3">
  <li>
    <div class="t-image">
      <img src="./static/image/icons/todo.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>working on React and Node js</h4>
      </div>
      <div class="t-body">
          <p class="text-muted">bought courses about them, and I can't wait to finish them and put my projects here! Soon... </p>
      </div>
    </div>
  </li>
  <li>
    <div class="t-image">
      <img src="./static/image/icons/data-science.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>worked with libs and data!</h4>
      </div>
      <div class="t-body">
          <p class="text-muted">I created projects (manipulated data) with the python libraries and made <a href="https://github.com/glpargun" class="link" target="_blank">my github profile<i class="bi bi-arrow-up-right"></i></a> worth checking out!</p>
      </div>
    </div>
  </li>
  <li>
    <div class="t-image">
      <img src="./static/image/icons/project.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>A social media template!</h4>
      </div>
      <div class="t-body">
          <p class="text-muted">The best way to reinforce learning is practice. <a href="https://github.com/glpargun/bootstrap-webdesign/blob/main/README.md" class="link" target="_blank">Here<i class="bi bi-arrow-up-right"></i></a>, my bootstrap template!</p>
      </div>
    </div>
  </li>
  <li>
    <div class="t-image">
      <img src="./static/image/bootstrap.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Updated myself about Bootstrap 5.1</h4>
      </div>
      <div class="t-body">
          <p class="text-muted">I watched some tutorials about Bootstrap 5.1 and learned its new features.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="t-image">
      <img src="./static/image/icons/website.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Created my website!</h4>
      </div>
      <div class="t-body">
          <p class="text-muted">it was the time. I created my website based on Python.</p>
      </div>
    </div>
  </li>
</ul>
<!-- 2022 ends -->

<!-- 2021 starts -->
<div class="hr-theme-slash-2 mt-3">
  <div class="hr-text">2021</div>
  <div class="hr-line"></div>
</div>
<ul class="timeline mt-3">
  <li>
    <div class="t-image">
      <img src="./static/image/icons/novel.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>The plague novel I've been waiting for has been published!</h4>
      </div>
      <div class="t-body">
          <p class="text-muted">I read "Nights of Plague" by Orhan Pamuk.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="t-image">
      <img src="./static/image/python.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Learn Python and its modules/libraries</h4>
      </div>
      <div class="t-body">
          <p class="text-muted">I have completed courses related to <a href="https://www.udemy.com/course/data-science-sfrdan-uzmanlga-veri-bilimi-2" target="_blank" class="link">data science<i class="bi bi-arrow-up-right"></i> </a>/<a href="https://www.udemy.com/course/complete-python-developer-zero-to-mastery" class="link" target="_blank"> python<i class="bi bi-arrow-up-right"></i></a>. Of course, in Udemy.</p>
      </div>
    </div>
  </li>
</ul>
<!-- 2021 ends -->

<!-- 2020 starts -->
<div class="hr-theme-slash-2 mt-3">
  <div class="hr-text">2020</div>
  <div class="hr-line"></div>
</div>
<ul class="timeline mt-3">
  <li>
    <div class="t-image">
      <img src="./static/image/icons/stay-home.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>CORONA PANDEMIC</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">it was an unthinkable year. I stayed at home and read "Plague" by Albert Camus.</p>
      </div>
    </div>
  </li>
</ul>
<!-- 2020 ends -->

<!-- 2019 starts -->
<div class="hr-theme-slash-2 mt-3">
  <div class="hr-text">2019</div>
  <div class="hr-line"></div>
</div>
<ul class="timeline mt-3">
  <li>
    <div class="t-image">
      <img src="./static/image/icons/technician.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Be technical, keep all systems tidy and work!</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">a great chance to cover my life expenses in Bremen with an excellent work environment. </p>
      </div>
    </div>
  </li>
  <li>
    <div class="t-image">
      <img src="./static/image/icons/master.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Again, being (but master) student at the Uni Bremen.</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">I missed being a student, freedom to ask question!</p>
      </div>
    </div>
  </li>
  <li>
    <div class="t-image">
      <img src="./static/image/icons/bremen.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Moved to Bremen, Germany.</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">started to live in lovely city!</p>
      </div>
    </div>
  </li>
</ul>
<!-- 2019 ends -->

<!-- 2018 starts -->
<div class="hr-theme-slash-2 mt-3">
  <div class="hr-text">2018</div>
  <div class="hr-line"></div>
</div>
<ul class="timeline mt-3">
</li>
<li>
  <div class="t-image">
    <img src="./static/image/icons/graduate.png" class="img-fluid" />
  </div>
  <div class="t-panel">
    <div class="t-heading">
      <h4>Graduated from Bachelor!</h4>
    </div>
    <div class="t-body">
      <p class="text-muted">
        throwing the mortarboard as 0th of faculty! 🎓 I worked my ass off to make it.
      </p>
    </div>
  </div>
</li>
  <li>
    <div class="t-image">
      <img src="./static/image/icons/award.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Bang. Art Innovation Prix Finalist!</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">
          became the finalist of the competition with an exhibition held on the
          ship which was design in 3ds Max.
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="t-image">
      <img src="./static/image/icons/certificate.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>term project was online!</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">
          givaway.org(offline) was deemed worthy of being online by the Uni. PHP
          based.
        </p>
      </div>
    </div>
  </li>
</ul>
<!-- 2018 ends -->

<!-- 2017 starts -->
<div class="hr-theme-slash-2 mt-3">
  <div class="hr-text">2017</div>
  <div class="hr-line"></div>
</div>
<ul class="timeline mt-3">
  <li>
    <div class="t-image">
      <img src="./static/image/icons/intern.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Internship in Schaduf Urban Landscaping in Cairo, Egypt.</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">
          it was a great opportunity to finance my life as a student.
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="t-image">
      <img src="./static/image/icons/bus.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Traveled to the Balkans/East-Europe Countries</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">
          where pastries/börek and coffee (Turkish style but their name varied
          according to the country) are available.
        </p>
      </div>
    </div>
  </li>
</ul>
<!-- 2017 ends -->

<!-- 2016 starts -->
<div class="hr-theme-slash-2 mt-3">
  <div class="hr-text">2016</div>
  <div class="hr-line"></div>
</div>
<ul class="timeline mt-3">
  <li>
    <div class="t-image">
      <img src="./static/image/icons/student-work.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Joined Just English Besiktas Branch</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">
          it was a great opportunity to finance my life as a student.
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="t-image">
      <img src="./static/image/icons/intern.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Internship in Bimed Tecnic JSC.</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">
          I feel super happy and excited because it was my first step in the
          industry.
        </p>
      </div>
    </div>
  </li>
</ul>
<!-- 2016 ends -->

<!-- 2015 starts -->
<div class="hr-theme-slash-2 mt-3">
  <div class="hr-text">2015</div>
  <div class="hr-line"></div>
</div>
<ul class="timeline mt-3">
  <li>
    <div class="t-image">
      <img src="./static/image/icons/train.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>
          My first <a href="https://en.wikipedia.org/wiki/Interrail" target="_blank" class="link">Interrail<i class="bi bi-arrow-up-right"></i></a> accross
          Europe!
        </h4>
      </div>
      <div class="t-body">
        <p class="text-muted">
          I was real traveler, I had the oppurtunity to visit all European
          countries. If you like,
          <a href="" target="_blank" class="link">read my blog<i class="bi bi-arrow-up-right"></i></a> about it.
        </p>
      </div>
    </div>
  </li>
</ul>
<!-- 2015 ends -->

<!-- 2013 starts -->
<div class="hr-theme-slash-2 mt-3">
  <div class="hr-text">2013</div>
  <div class="hr-line"></div>
</div>
<ul class="timeline mt-3">
  <li>
    <div class="t-image">
      <img src="./static/image/icons/host.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>started my own host/domain business</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">
          I started to provide hosting, domain and technical support services
          <br />for my customers on dunyanetwork.net (currently: offline).
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="t-image">
      <img src="./static/image/icons/bachelor.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>
          Bachelor student at
          <a
            href="https://www.bilgi.edu.tr/en/university/about/"
            target="_blank"
            class="link"
            >Bilgi University<i class="bi bi-arrow-up-right"></i></a
          >
        </h4>
      </div>
      <div class="t-body">
        <p class="text-muted">engineering skills and discipline are loading.</p>
      </div>
    </div>
  </li>
</ul>
<!-- 2013 ends -->

<!-- born-timeline starts -->
<div class="hr-theme-slash-2 mt-3">
  <div class="hr-text">1994</div>
  <div class="hr-line"></div>
</div>
<ul class="timeline mt-3">
  <li>
    <div class="t-image">
      <img src="./static/image/icons/born.png" class="img-fluid" />
    </div>
    <div class="t-panel">
      <div class="t-heading">
        <h4>Happy Birthday to me!</h4>
      </div>
      <div class="t-body">
        <p class="text-muted">On the 26th September.</p>
      </div>
    </div>
  </li>
</ul>
<!-- born-timeline ends -->
{% endblock %}
