{% extends "Admin/admin-base.html" %} {% block title %} {{user}} Welcome! -
Admin Panel {% endblock%} {%block content%}

<div class="card">
  <div class="card-header"><h6>UPDATE: {{post.title}}</h6></div>
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text" id="addon-wrapping"
          ><i class="bi bi-cursor-text fw-bolder"></i
        ></span>
        <input
          type="text"
          class="form-control fw-bolder"
          value="{{ post.title}}"
          aria-label="Title"
          id="title_edit"
          name="title_edit"
          aria-describedby="addon-wrapping"
        />
      </div>

      <!-- editor starts -->
      <textarea id="edit" name="edit">{{ post.text|safe }}</textarea>
      <!-- editor ends -->

      <!-- post img starts -->

      <ul class="nav nav-tabs mt-3 border-0" id="profile-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            type="button"
            class="btn btn-outline-secondary active rounded-0 me-2"
            id="link-tab"
            data-bs-toggle="tab"
            data-bs-target="#link"
            role="tab"
            aria-controls="link"
            aria-selected="true"
          >
            Link
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            type="button"
            class="btn btn-outline-secondary rounded-0 me-2"
            id="answers-tab"
            data-bs-toggle="tab"
            data-bs-target="#answers"
            role="tab"
            aria-controls="Answers"
            aria-selected="true"
          >
            UPLOAD
          </button>
        </li>
      </ul>

      <div class="tab-content mt-3 mb-3" id="profile-tabs">
        <div
          class="tab-pane fade show active"
          id="link"
          role="tabpanel"
          aria-labelledby="link-tab"
          align="left"
        >
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="photo"
              ><i class="bi bi-camera"></i
            ></span>
            <input
              type="text"
              class="form-control fw-bolder"
              aria-label="photo"
              id="kapak_photo_text"
              name="kapak_photo_text"
              value="{{ post.kapak_photo }}"
              aria-describedby="photo"
            />
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="answers"
          role="tabpanel"
          aria-labelledby="answers-tab"
          align="left"
        >
          <div class="input-group flex-nowrap mb-3 mt-3">
            <span class="input-group-text" id="photo"
              ><i class="bi bi-image"></i
            ></span>
            <input
              type="file"
              class="form-control"
              aria-label="kapak_photo"
              id="kapak_photo"
              name="kapak_photo"
              aria-describedby="photo"
            />
          </div>
        </div>
      </div>

      <!-- post img ends -->

      <div align="right">
        <button
          type="submit"
          id="submit_button"
          class="btn btn-outline-danger fw-bolder mt-2"
        >
          SAVE EDIT
        </button>
      </div>
    </form>
  </div>
</div>

<script src="{{url_for('static', filename = 'js/custom/ckeditor/ckeditor.js')}}"></script>
<script>
  ClassicEditor.create(document.querySelector("#edit"), {
    // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
  })
    .then((editor) => {
      window.editor = editor;
    })
    .catch((err) => {
      console.error(err.stack);
    });
</script>

{% endblock %}
