{% extends "base.html" %} {% block title %}{{post.title}} - Galip Argun{%
endblock %} {% block content %}

<div class="card shadow">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="d-inline-flex"></div>
      <div class="d-inline-flex">
        <span class="bg-primary rounded-pill text-white p-2"
          ><i class="bi bi-eyeglasses me-2"></i> {{post.likes|length}}
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="heading-area-style mt-1">
      <p>{{post.title}}</p>
      <span class="writing-date"
        >{{ post.date_created.strftime('%B %m, %Y') }}</span
      >
    </div>

    <div class="text-area-style">{{post.text|safe}}</div>
  </div>
</div>
{% endblock %}
